<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Mental Illness</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<h3>Mental illness:</h3>

<a href="/mental_illness/create">Add</a>
<table class="table table-striped">
    <tbody>
    <tr>
        <th>ID</th>
        <th>Mental Illness</th>
        <th>Drug</th>
        <th></th>
    </tr>


    <tr>
        <td>
            <div th:each="il : ${illness}">
                <span th:text="${il.id}"></span>
            </div>

        </td>

        <td><div th:each="il : ${illness}">
            <span th:text="${il.mentalIllnessName}"></span>
        </div></td>

        <td><div th:each="il : ${illness}">
            <span th:text="${il.drug.drugName}"></span>
        </div></td>

        <td>
            <div th:each="il : ${illness}">
                <a th:href="@{mental_illness/update/{id}(id=${il.id})}">Edit</a>
                <a th:href="@{mental_illness/delete/{id}(id=${il.id})}">Delete</a>
            </div>

        </td>

    </tr>

    </tbody>
</table>



</body>
</html>