<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Personal Update</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<h3>Update:</h3>

<div>
    <form action="#" th:action="@{/personal/create}" th:object="${personal}" method="post">
        <input readonly type="number" th:field="*{id}" id="id" placeholder="ID"><br>
        <input type="text" name="lastName" placeholder="Фамилия" class="form-control"><br>
        <input type="text" name="firstName" placeholder="Имя" class="form-control"><br>
        <input type="text" name="middleName" placeholder="Отчество" class="form-control"><br>
        <input type="text" name="dateEmploy" placeholder="Дата принятия на работу" class="form-control"><br>
        <input type="text" name ="dateOfBirth"placeholder="Дата рождения" class="form-control"><br>
        <input type="text" name="sex" placeholder="Пол" class="form-control"><br>
        <input type="text" name="phone" placeholder="Телефон" class="form-control"><br>
        <input type="text" name="position" placeholder="Должность id" class="form-control"><br>
        <input type="text" name="cabinet" placeholder="Номер кабинета id" class="form-control"><br>
        <input type="text" name="patients" placeholder="Пациент id" class="form-control"><br>
        <button type="submit">Добавить</button>
    </form>
</div>
</body>
</html>